/* --------------- Spacing ----------------- */
$base-space: 4px;

/* --------------- Colors ----------------- */
$red: #bd0002;
$yellow: #e3aa3e;
$black: #000;
$background: #191919;
$gray-0: #d9d9d9;
$gray-1: #c4c4c4;
$gray-2: #c2c2c2;
$gray-3: #83868f;
$gray-4: #808080;
$white: #fff;

/* --------------- Fonts ----------------- */
$font-family-general: 'Poppins', sans-serif;
$font-family-title: 'Inter', sans-serif;
$font-family-rank: 'Advent Pro', sans-serif;
$font-family-footer: 'Open Sans', sans-serif;
$font-size: 16px;
