<!-- ---------------- Header ------------------>
<nav class="mobile-nav-bar w-400px  p-l-5 p-r-5">
    <img src="assets/logo.jpg" alt="logo">
    <div class="user-settings">
        <img src="{{user.img}}" alt="user-picture">
    </div>
</nav>
<!-- ---------------- Main------------------>
<main class="w-400px container main">
    <!--Hero section-->
    <section class="top-section container p-t-68 p-l-5 p-r-5 p-b-5">
        <div class="container-row gap-1 m-b-4">
            @if(heroData.new){
                <span class="tab red">New Today</span>
            }
            @for( category of heroData.categories; track category){
                <span class="tab">{{category}}</span>
            }
        </div>
        <img src="{{heroData.titleImage}}" alt="hero section title image" class="w-100"/>
        <p class="p-t-4 p-b-4 hero-desc">{{heroData.description}}</p>
        <div class="container-row gap-1 align-top">
            @for( slice of heroData.slices; track slice.id; let index= $index){
                <div class="slice">
                    <div class="slice-image" [class.no-image]="slice.img === null">
                        @if(slice.img !== null){
                            <img src="{{slice.img}}" alt="{{'slice-' + slice.id}}"/>
                        }
                    </div>
                    @if(index === 0){
                        <span class="progress-bar" >
                            <span class="percentage" [style.width]="'30%'"></span>
                        </span>
                    }
                </div>
            }
        </div>
    </section>
<!-------------- Comic section ------------>
<section class="container comic p-l-5 p-t-8 p-b-20 gap-8">
    <!--------------Recommended----------------->
    <h3 class="section-title">Recommened for <span class="txt-capitalize">{{user.name}}</span></h3>
    <div class="list gap-3 p-b-4">
        @for(recommendedComic of recommendedComics; track recommendedComic.title){
            <app-comic-card [comicCard]="recommendedComic"></app-comic-card>
        }
        <div class="see-all gap-1 m-l-13">
            <button class="btn-circle"><mat-icon fontIcon="east"></mat-icon></button>
            <span>see all</span>
        </div>
    </div>
    <!--------------Resume Reading----------------->
    <h3 class="section-title">Resume Reading</h3>
    <div class="list gap-3 p-b-4">
        @for(comicToResume of comicsToResume; track comicToResume.title){
            <app-resume-card [resumeCard]="comicToResume"></app-resume-card>
        }
        <div class="see-all gap-1 m-l-13">
            <button class="btn-circle"><mat-icon fontIcon="east"></mat-icon></button>
            <span>see all</span>
        </div>
    </div>
    <!--------------Extra ----------------->
    <h3 class="section-title">Extra</h3>
    <div class="list gap-3 p-b-4">
        @for(extraComic of extraComics; track extraComic.id){
            <app-extra-card [extraCard]="extraComic"></app-extra-card>
        }
    </div>
    <!--------------Start Here----------------->
    <h3 class="section-title">Start Here</h3>
    <div class="list gap-3 p-b-4">
        @for(startHereComic of startHereComics; track startHereComic.title){
            <app-comic-card [comicCard]="startHereComic"></app-comic-card>
        }
        <div class="see-all gap-1 m-l-13">
            <button class="btn-circle"><mat-icon fontIcon="east"></mat-icon></button>
            <span>see all</span>
        </div>
    </div>
    <!--------------Zebra Kids----------------->
    <h3 class="section-title">Zebra Kids</h3>
    <div class="list gap-3 p-b-4">
        @for(zebraKidsComic of zebraKidsComics; track zebraKidsComic.title){
            <app-comic-card [comicCard]="zebraKidsComic" [large]="true"></app-comic-card>
        }
    </div>
    <!--------------Romance----------------->
    <h3 class="section-title">Romance</h3>
    <div class="list gap-3 p-b-4">
        @for(romanceComic of romanceComics; track romanceComic.title){
            <app-comic-card [comicCard]="romanceComic"></app-comic-card>
        }
        <div class="see-all gap-1 m-l-13">
            <button class="btn-circle"><mat-icon fontIcon="east"></mat-icon></button>
            <span>see all</span>
        </div>
    </div>
    <!--------------Afro Futurism----------------->
    <h3 class="section-title">Afro Futurism</h3>
    <div class="list gap-3 p-b-4">
        @for(afroFuturComic of afroFuturComics; track afroFuturComic.title){
            <app-comic-card [comicCard]="afroFuturComic"></app-comic-card>
        }
        <div class="see-all gap-1 m-l-13">
            <button class="btn-circle"><mat-icon fontIcon="east"></mat-icon></button>
            <span>see all</span>
        </div>
    </div>
</section>
</main>
<!-- ---------------- Footer------------------>
<footer class="mobile-footer w-400px p-l-5 p-r-5 bg-black">
    <div class="footer-links p-t-2">
        @for(footerLink of footerLinks; track footerLink.name;  let index= $index){
            <a class ="footer-link" [class.active]=" index === 0" href="{{footerLink.url}}">
                <mat-icon svgIcon="{{footerLink.icon}}" ></mat-icon>
                <span class="m-t-2">{{footerLink.name}}</span>
            </a>
        }
    </div>
    <hr class="footer-line m-t-3 m-b-2"/>
</footer>